body{
    
   background: linear-gradient(90deg, #139DAC 0%, #50B6C1 35%, #92D1D8 100%);
   font-family: "Roboto", serif;

}
a{
    text-decoration: none;
    color: blue;
}
.weather-general{

    background-color: #90d6ed;
    max-width: 600px;
    margin:  40px auto;
    box-shadow: 0 40px 60px #139DAC;
    border-radius: 10px;
    padding: 40px;
    
}
header{
    padding-bottom: 20px;
}
.search-input{
    border-color: #139DAC;
    border: none;
    border-radius: 6px;
    width: 75%;
    padding: 15px;
}
.search-button{
    background-color: #615A97;
    border: none;
    border-radius: 6px;
    padding: 15px 37px;
    margin-left: 20px;
    font-size: 15px;
    color: white;
    cursor: pointer;
    
}
.search-button:hover{
    background-color: white;
    color: #615A97;

}
main{
    padding-top: 30px;
}
.form-results{
    display: flex;
    justify-content: space-between;
}
h1{
    margin: 0;
    font-size: 2em;
    line-height: 1em;
}
img{
    width: 100px; 
    margin-right: 30px; 
   
}
.results-data{
    display: flex;
    font-size: 1em;
    line-height: 1em;
}
.weather-data{
    font-weight: bold;
    font-size: 5em;
    margin-top: 35px;
}
.weather-unit{
    font-size: 2em;
    margin-top: 20px;
}
strong{
    color: blue;
}

footer{
    font-size: 13px;
    padding-top: 70px;
}